/* Lamacupa Admin Panel */
.nav-tab-wrapper { margin-bottom: 0; }
.form-table th { width: 220px; font-weight: 600; }
.form-table input[type="text"],
.form-table input[type="email"],
.form-table input[type="url"],
.form-table input[type="tel"],
.form-table input[type="password"],
.form-table textarea { border-radius: 4px; }
.form-table input[type="color"] { cursor: pointer; }
.lm-upload-btn { vertical-align: middle; }
.form-table .description { font-style: normal; color: #888; margin-top: 5px; font-size: .82rem; }
